<div class="container">
  <div>
    <div style="margin-top: 90px; border-bottom: dotted 2px rgb(175, 175, 175);">
    <h1 class="firsth1" style="margin-top:90px;"><span style="color: rgb(21, 149, 231) ;">Y</span>our Cart</h1>
    </div>
  </div>
  <div class="cart">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Medicine Name</th>
          <th scope="col">Medicine Value</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{product.name}}</td>
          <td>€ {{product.price}}</td>
          <td><a (click)="deleteItem(i)" style="cursor: pointer;"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary" style="margin-left:10px; margin-bottom: 20px;">Purchase</button>
      </div>
    </div>
  </div>