<div class="signup-form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="first_name" placeholder="First Name"
                        formControlName="firstname">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                        formControlName="lastname">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email"
                formControlName="email">
                <span
                *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
                 class="help-block">Please enter a valid email!</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password"
                formControlName="password">
                <span
                *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                 class="help-block">Please enter a valid password!</span>
        </div>
        
        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required> I accept the <a>Terms of Use</a> &amp;
                <a>Privacy Policy</a></label>
        </div>
        <div class="form-group">
                <span
                *ngIf="!signupForm.valid && signupForm.touched"
                 class="help-block">Please enter valid data!</span>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register Now</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a style="cursor: pointer;" routerLink="/login">Sign in</a></div>
</div>