
<div class="container whiteDiv">
    <div>
      <div style="border-bottom: dotted 2px rgb(175, 175, 175);">
      <h1 class="top-text"><span style="color: rgb(21, 149, 231) ;">P</span>roducts</h1>
      </div>
    </div>
    <div class="table-style">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <td style="font-weight: bold;">{{ i+1 }}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><a style="cursor: pointer;"
               (click)="updateProduct(product)"
               ><span class="glyphicon glyphicon-edit"></span></a></td>
            <td><a (click)="deleteProduct(i)" style="cursor: pointer;"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button class="animation" style="margin: 10px;" type="button" (click)="openDialog()">New Product
      </button>
      </div>