<button (click)="onClose()" class="btn btn-primary btn-sm pull-right">X</button>
<h2 mat-dialog-title style="text-align: center;">{{isUpdate? 'Edit': 'Add'}} User!</h2>
<mat-dialog-content class="create-form">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" placeholder="Enter First Name" name="first_name"
                formControlName="firstname">
                <span
                *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched"
                 class="help-block">Please enter a valid name!</span>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" name="last_name"
                formControlName="lastname">
                <span
                *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched"
                 class="help-block">Please enter a valid lastname!</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" placeholder="Enter Email" name="email" formControlName="email">
            <span
                *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
                 class="help-block">Please enter a valid email!</span>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password"
                formControlName="password">
                <span
                *ngIf="!userForm.get('password').valid && userForm.get('password').touched"
                 class="help-block">Please enter a valid password!</span>
        </div>
        <div class="form-group">
            <label for="role">Role: </label>
            <select formControlName="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" (click)="onSubmit()" class="animation">{{isUpdate ? 'Edit User': 'Add User'}}</button>
</mat-dialog-actions>