.cart-item{
	border: solid 1px rgb(175, 175, 175);
	margin-top: 20px;
	padding: 20px;
	width: auto;
	background-color: 		rgb(247, 247, 247);
	margin-bottom: 10px;
	border-radius: 0.25em;	
	box-shadow: 5px 5px 7px rgb(175, 175, 175);
}

.book{
	margin-top: 40px;
	padding: 20px;
	vertical-align: middle;
	text-align: center;

}