<div class="row">
  
    <div class="col-sm-12">
    
    <div class="car">
        
        <div class="row">
          <div class="col-sm-4"><img style="max-height: auto; max-width: 80%;" 
            [src]="product.imagePath">
            </div>
           <div class="col-sm-4"><h5 style="font-weight: bold;">{{product.name}}</h5>
            <p >Përshkrimi: 8 mg/2 mg Sublingual Tablets</p>
            <p>Madhësia: Bottle of 30 Tablets</p>
            <p>Tipi: Rx</p>
            <p>Actives: 2 mg Buprenorphine, 0.5 mg Naloxone</p>
            <p>Inactives: Lactose Monohydrate, Mannitol, Cornstarch, Povidone, Purified Water, Citric Acid Anhydrous, Sodium Citrate, Sodium Stearyl Fumarate, Acesulfame K Sweetener, Lemon Flavor, Lime Flavor</p>
            </div>
            <div class="col-sm-4"><div class="book"><p style="font-family: TAHOMA; font-weight: bold;">Price Per Package:</p>
                 <p style="font-family: Comfortaa">€  {{product.price}}</p> 
                     <button (click)="AddToCart()" style=" font-weight: bold; font-family: Helvetica;" class="btn btn-default" id="button2">Add To Cart!</button>
                    </div>
          </div>
        </div>
      </div>
       
    </div>
    
    </div>